Packages that need to be installed upfront are: 

profanity_check 
vaderSentiment
textblob
lexicalrichness

Sample instruction to install packages on your terminal
$ pip install -U textblob
$ python -m textblob.download_corpora
